.buffer-bar {
    margin-top: 4%;
}

.select-margins {
    margin-right: 18px;
}

.transition-row > td {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.center-text {
    text-align: center;
}