<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maszyna Turinga</title>

    <script src="lib/angular.min.js"></script>
    <script src="js/dtm.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body ng-app="myApp">

<div ng-controller="MainController" class="container">
<div class="row center-text">
    <h1>Maszyna Turinga</h1>
</div>

<!--Inicjalizacja -->
<div ng-show="step === 0">

    <div style="margin-top: 5%;">
        <form name="initForm" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-2">Zbiór stanów:</label>

                <div class="col-md-4">
                    <input ng-model="machine.states"
                           ng-change="stateListener(machine.states)" required
                           pattern="(([A-Za-z0-9])+,{0,1}\s{0,1})+" title="Stany oddzielone przecinkiem"
                           type="text" class="form-control" placeholder="Podaj stany oddzielone przecinkami"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-2">Alfabet wejściowy:</label>

                <div class="col-md-4">
                    <input ng-model="machine.inputAlphabet" required
                           pattern="(([A-Za-z0-9])+,{0,1}\s{0,1})+"
                           title="Kolejne znaki alfabetu oddzielone przecinkiem"
                           type="text" class="form-control"
                           placeholder="Podaj alfabet wejściowy oddzielony przecinakami"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-2">Alfabet taśmy:</label>

                <div class="col-md-4">
                    <input ng-model="machine.tapeAlphabet" type="text" class="form-control"
                           title="Kolejne znaki alfabetu taśmy oddzielone przecinkiem"
                           placeholder="Podaj alfabet taśmy oddzielony przecinakami"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-2">Stan początkowy:</label>

                <div class="col-md-4">
                    <select ng-model="machine.initState" required title="Stan początkowy wymagany"
                            class="form-control">
                        <option ng-repeat=" state in states track by $index" value="{{state}}">{{state}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-2">Stany końcowe:</label>

                <div class="col-md-4">
                    <select ng-model="machine.finiteStates" multiple="true" required title="Zbiór stanów końcowych"
                            class="form-control">
                        <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-success col-md-2 col-md-offset-5"
                        ng-click="createTuringMachine(initForm, machine)">Dalej
                </button>
            </div>
        </form>
    </div>
</div>


<div ng-show="step === 1">
    <div class="row text-center">
        <h1>Dodaj funkcję przejścia:</h1>
    </div>
    <div class="container" style="margin-top: 5%;">
        <table class="table table-bordered">
            <thead>
            <th>Aktualny stan</th>
            <th>Wczytywany symbol</th>
            <th>Nowy stan</th>
            <th>Wpisywany symbol</th>
            <th>Ruch</th>
            <th>Opcje</th>
            </thead>
            <tbody>
            <tr class="transition-row">
                <form name="transitionForm" role="form">
                    <td>
                        <select class="form-control" ng-model="transition.condState" required>
                            <option ng-repeat="state in machine.states track by $index" value="{{state}}">
                                {{state}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="transition.condSymbol" required>
                            <option ng-repeat="symbol in machine.tapeAlphabet" value="{{symbol}}">{{symbol}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="transition.actionState" required class="form-control">
                            <option ng-repeat="state in machine.states track by $index" value="{{state}}">{{state}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="transition.actionSymbol" required class="form-control">
                            <option ng-repeat="symbol in machine.tapeAlphabet" value="{{symbol}}">{{symbol}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="transition.actionMove" required class="form-control">
                            <option ng-repeat="move in machine.moves" value="{{move}}">{{move}}</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="addTransition(transitionForm, transition)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                </form>
            </tr>
            <tr ng-repeat="transition in machine.transitions track by $index" class="transition-row">
                <td>{{transition.condition.state}}</td>
                <td>{{transition.condition.symbol}}</td>
                <td>{{transition.action.state}}</td>
                <td>{{transition.action.symbol}}</td>
                <td>{{transition.action.move}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="removeTransition($index)"
                            >
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>

        </table>

        <div class="form-group col-lg-2">
            <button class="btn btn-primary" ng-click="createDtm()"><span
                    class="glyphicon glyphicon-ok"></span>Utwórz
            </button>
        </div>

    </div>


</div>


<div ng-show="step === 2">
    <div style="margin-top: 5%;">
        <form name="runForm" class="form-horizontal" role="form">
            <div class="form-group row">
                <label for="inputWord" class="control-label col-md-2 col-md-offset-2">Słowo wejściowe:</label>

                <div id="inputWord" class="col-md-4">
                    <input ng-model="inputWord" type="text" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success col-md-2 col-md-offset-5" ng-click="runDtm(runForm)">Uruchom
                    maszynę
                </button>
            </div>
        </form>
    </div>
</div>

<div ng-show="step === 3">

    <div class="row center-text">
        <h2>Animacja</h2>
    </div>

    <div class="row center-text">
        <h3>Słowo wejściowe: {{inputWord}}</h3>
    </div>
    <div class="row center-text">
        <h3>Aktualny stan: {{currentState}}</h3>
    </div>


    <canvas id="turingMachine" style="display: block; margin: 0 auto;" width="800" height="200">
    </canvas>

    <form class="form-group">
        <button class="btn btn-primary col-md-2 col-md-offset-1" ng-click="nextStep()"><span
                class="glyphicon  glyphicon-step-forward"></span>Następny krok
        </button>
        <button class="btn btn-primary col-md-2 col-md-offset-3" ng-click="startAnimation()"><span
                class="glyphicon  glyphicon-play"></span>Animacja
        </button>
        <button class="btn btn-primary col-md-2" ng-click="pauseAnimation()"><span
                class="glyphicon  glyphicon-pause"></span>Pauza
        </button>
    </form>
</div>

</div>


</body>
</html>