<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maszyna Turinga</title>

    <script src="lib/angular.min.js"></script>
    <script src="js/dtm.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-app="myApp">

<div ng-controller="MainController">
    <h1>Maszyna Turing</h1>

    <!--Inicjalizacja -->
    <div ng-show="step === 0">
        <form name="initForm">
            Zbiór stanów:<br>
            <input ng-model="machine.states" ng-change="stateListener(machine.states)" type="text" required
                   pattern="(([A-Za-z0-9])+,{0,1}\s{0,1})+" title="Stany oddzielone przecinkiem"/><br>

            Alfabet wejściowy:<br>
            <input ng-model="machine.inputAlphabet" type="text" required
                   pattern="(([A-Za-z0-9])+,{0,1}\s{0,1})+" title="Kolejne znaki alfabetu oddzielone przecinkiem"/><br>

            Alfabet taśmy:<br>
            <input ng-model="machine.tapeAlphabet" type="text"/><br>

            Stan początkowy:<br>
            <select ng-model="machine.initState" required title="Stan początkowy wymagany">
                <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
            </select><br>

            Stany końcowe:<br>
            <select ng-model="machine.finiteStates" multiple="true" required>
                <option ng-repeat="state in states track by $index" value="{{state}}">{{state}}</option>
            </select><br>
            <br><br>

            <button ng-click="createTuringMachine(initForm, machine)">Start</button>
        </form>

    </div>


    <div ng-show="step === 1">
        <h1>Dodaj funkcję przejścia:</h1><br>

        <form name="transitionForm">
            Aktualny stan:
            <select ng-model="transition.condState" required>
                <option ng-repeat="state in machine.states track by $index" value="{{state}}">{{state}}</option>
            </select>

            Wczytywany symbol:
            <select ng-model="transition.condSymbol" required>
                <option ng-repeat="symbol in machine.tapeAlphabet" value="{{symbol}}">{{symbol}}</option>
            </select><br><br>

            Nowy stan:
            <select ng-model="transition.actionState" required>
                <option ng-repeat="state in machine.states track by $index" value="{{state}}">{{state}}</option>
            </select>

            Wpisywany symbol:
            <select ng-model="transition.actionSymbol" required>
                <option ng-repeat="symbol in machine.tapeAlphabet" value="{{symbol}}">{{symbol}}</option>
            </select>

            Ruch:
            <select ng-model="transition.actionMove" required>
                <option ng-repeat="move in machine.moves" value="{{move}}">{{move}}</option>
            </select>

            <br><br>
            <button ng-click="addTransition(transitionForm, transition)">Dodaj stan</button>
        </form>
        <form>
            <button ng-click="createDtm()">Utwórz maszynę</button>
        </form>
    </div>

    <div ng-show="step === 2">
        <form name="runForm">
            Słowo wejściowe:<br>
            <input ng-model="inputWord" type="text" required/><br>
            <button ng-click="runDtm(runForm)">Uruchom maszynę</button>
        </form>
    </div>

    <div ng-show="step === 3">
        animacja
        <br>
        {{tape.join(' ')}}<br><br>

        <form>
            <button ng-click="nextStep()">Następny krok</button>
        </form>
    </div>

</div>


</body>
</html>